/*======================= RESET ================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
/*======================= Variaveis ================================*/
:root {
    --header-height: 4.5rem;
  
    --base-color: #262626;
    --base-color-second: #676766;
    --base-color-alt: #404040;
    --title-color: #000000;
    --text-color: #262626;
    --text-color-light: #FFFFFF;
    --logo-color: #008000;
    --logo-color-span: #006400;
    --text-color-light-alt: #676766;
  
    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
  
    --title-font: 'Roboto', sans-serif;
}

/*======================= BASE ================================*/

html 
{
    scroll-behavior: smooth;
}
  
body 
{
    font: 400 1rem var(--title-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.head 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.dashboard-tittle
{
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--logo-color);
    font-size: 2rem;
    -webkit-font-smoothing: auto;
}

span
{
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--logo-color-span);
}
  
.title 
{
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    font-size: 2rem;
    -webkit-font-smoothing: auto;
}

.subtitle 
{
    font: 400 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    font-size: 1.25rem;
    -webkit-font-smoothing: auto;
}